@{
    ViewData["Title"] = "Inicio";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var nombre = Context.Session.GetString("Nombre") ?? "Usuario";
}

<section class="container py-5">
    <div class="row text-center pt-3">
        <div class="col-lg-8 m-auto">
            <h1 class="h1 mb-3">Bienvenido, @nombre</h1>
            <p class="lead">Has iniciado sesión correctamente en <strong>Loop Store</strong>.</p>
            <a class="btn btn-danger mt-3" asp-controller="Usuario" asp-action="Logout">Cerrar Sesión</a>
        </div>
    </div>
</section>
