@{
    ViewData["Title"] = "Confirmación de Compra";
}
<div class="container mt-5">
    <div class="alert alert-success text-center">
        <h2>@ViewBag.Mensaje</h2>
        <p>Gracias por tu compra. Pronto recibirás un correo con los detalles de tu pedido.</p>

        <a asp-controller="Producto"
           asp-action="Catalogo"
           class="btn btn-primary mt-3">
            Volver al catálogo
        </a>
    </div>
</div>
